{% extends "base.html" %}
{% load humanize %}

{% block page_title %}
    Expense List
{% endblock %}

{% block content %}

    <h1>

    {% if q %}
        Expenses for: "<i>{{ q }}</i>"
    {% else %}
        All Expenses
    {% endif %}

    {% if year %}
        ({{ year }})
    {% endif %}

    </h1>

    <p id="list-info">
        <span class="glyphicon glyphicon-tree-conifer"></span>
        {{ object_list.count }} expenses, total: ${{ total|intcomma }}
    </p>

    <ul class="list-group">
        {% for object in object_list %}
            <li class="list-group-item">
                <span class="badge"
                      title="{{ object.date }}">{{ object.date|naturalday }}</span>
                <a href="{% url "expenses:detail" object.id %}">{{ object.title }}</a>:
                ${{ object.amount }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
