{% extends "base.html" %}
{% load humanize %}

{% block page_title %}
    Expense #{{ object.id }}
{% endblock %}

{% block content %}
    <h1>Expense #{{ object.id }}: {{ object.title }}</h1>

    <ul>
        <li>
            <b>Date:</b>
            {{ object.date }}
        </li>
        <li>
            <b>Amount:</b>
            {{ object.amount }}
        </li>
        <li>
            <b>description:</b>
            {{ object.description|linebreaksbr }}
        </li>
    </ul>
{% endblock %}
