{% extends "base.html" %}
{% load humanize bootstrap3 %}

{% block page_title %}
    Expense #{{ object.id }}
{% endblock %}

{% block content %}
    <span class="pull-right">
    <a class="btn btn-warning" href="{% url "expenses:delete" object.id %}">Delete</a>
    <a class="btn btn-default" href="{% url "expenses:update" object.id %}">Edit</a>

    </span>
    <h1>Expense #{{ object.id }}: {{ object.title }}</h1>

    <ul>
        <li>
            <b>Date:</b>
            {{ object.date }}
        </li>
        <li>
            <b>Amount:</b>
            {{ object.amount }}
        </li>
        <li>
            <b>Categories:</b>
            <ul class="list-inline">
                {% for cat in object.categories.all %}
                    <li><span class="badge">{{ cat }}</span></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <b>description:</b>
            {{ object.description|linebreaksbr }}
        </li>
    </ul>

    <h2>Comments ({{ object.comments.count }})</h2>
    <ul class="list-group">

        <li class="list-group-item">
            <form method="post" novalidate>

                {% csrf_token %}

                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Create
                    </button>
                {% endbuttons %}

            </form>

        </li>



        {% for comment in object.comments.all %}
            <li class="list-group-item">
                {{ comment.content|linebreaksbr }}
                <br>
                <i>{{ comment.user }} @ {{ comment.created_at }}</i>

            </li>

        {% endfor %}

    </ul>
{% endblock %}
