{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}
    {% if form.instance.id %}
        Update Expense #{{ form.instance.id }}
    {% else %}
        Create Expense
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if form.instance.id %}
            Update Expense #{{ form.instance.id }}
        {% else %}
            Create Expense
        {% endif %}
    </h1>
    <form method="post" novalidate>

        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %}
                {% if form.instance.id %}
                    Update
                {% else %}
                    Create
                {% endif %}

            </button>
        {% endbuttons %}

    </form>
{% endblock %}