{% load humanize staticfiles %}

<link rel="stylesheet" href="{% static "style.css" %}"/>

<h1>Expenses <span>for today</span></h1>

<p id="list-info">
    {{ object_list.count }} expenses, total: ${{ total|intcomma }}
</p>

<ul>
    {% for object in object_list %}
        <li class="{% cycle "first" "second" %} {% cycle "a" "b" "c" %}">
            <a href="{% url "expenses:detail" object.id %}">{{ object.title }}</a>:
            ${{ object.amount }}
            (<span class="date strange terrible" title="{{ object.date }}">{{ object.date|naturalday }}</span>)
        </li>
    {% endfor %}
</ul>
